* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', Arial;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1);
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-left: 14px;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 45px;
  margin-left: 85px;
  margin-bottom: 116px;
  width: 1110px;
  height: 1191px;
}

.title {
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  width: 846px;
  height: 78px;
  margin: 220px 0px 110px 132px;
}

.title-container {
  background-image: url("/images/bg_flowers.png");
  background-position: left top;
  background-size: 790px 697px;
  align-content: center;
  background-repeat: no-repeat;
  margin-left: 85px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: 85px;
  margin-bottom: -100px;
  width: 1110px;
}

.button-general {
  font-weight: 500;
  font-size: 20px;
  box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1);
  width: 1100px;
  height: 50px;
}

.button {
  background-color: #9d9074;
  color: #000000;
}

.two-color-button-def {
  background-color: #85b2da;
  color: #F7F7FA;
}

.two-color-button-alt {
  background-color: #9d9074;
  color: #000000;
}

.product-image {
  width: 290px;
  height: 245px;
  object-fit: contain;
}

.footer {
  width: 1728px;
  height: 477px;
  background-color: #585858;
}

.footer-main-container {
  display: flex;
  justify-content: space-between;
  width: 1569px;
  height: 147px;
  margin-left: 84px;
  padding-top: 85px;
}

.footer-title {
  font-weight: 800;
  font-size: 28px;
  line-height: 154%;
  text-transform: capitalize;
}

.footer-description {
  width: 409px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 154%;
  text-transform: capitalize;
}

.footer-tg-vk-icons-container {
  width: 97px;
  height: 18px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.footer-tg-icon {
  margin-top: 42px;
  width: 21px;
  height: 17px;
}

.footer-vk-icon {
  margin-top: 42px;
  width: 24px;
  height: 14px;
}

.footer-subscribe-title {
  width: 350px;
  height: 29px;
  font-weight: 400;
  font-size: 24px;
  margin-left: -74px;
}

.footer-subscribe-form {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0 10px;
  width: 477px;
  height: 61px;
  margin-left: -132px;
}

.footer-subscribe-email {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 18px;
}

.footer-subscribe-button {
  border: none;
  background: none;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
}

.footer-copyright-container{
  margin-top: 262px;
  margin-left: 676px;
}

.footer-line-above-copyright {
  width: 66px;
  margin-left: 155px;
}

.footer-copyright-text {
  width: 376px;
  height: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-top: 33px;
}

.footer-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 178px;
  height: 147px;
  list-style: none;
  padding: 0;
  margin-right: 75px;
}

.footer-nav-link {
  width: 178px;
  margin-top: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: none;
}

.footer-nav-title {
  font-weight: 500;
  font-size: 20px;
}

.registration-button {
  border: none;
  background: none;
  font-size: 26px;
  font-weight: 500;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: #201404c4;
  z-index: 10;
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  z-index: 11;
  display: none;
  width: 350px;
}

.modal-showed {
  display: block;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px;
}

.modal-subscribe-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-white {
  color: #ffffff;
}