* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', Arial;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px rgba(81, 80, 118, 0.1);
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-left: 14px;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  list-style: none;
  justify-content: center;
  margin-left: 85px;
  margin-bottom: 116px;
  width: 1110px;
  height: 1191px;
}

.title {
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  width: 846px;
  height: 78px;
  margin: 220px 0px 110px 132px;
}

.title-container {
  background-image: url("/images/bg_flowers.png");
  background-position: left top;
  background-size: 790px 697px;
  align-content: center;
  background-repeat: no-repeat;
  margin-left: 85px;
}